<div class="ss-top">
    <div class="ui primary inverted top attached menu">
        <a class="item" ng-click="visible=!visible">
            <i class="sidebar icon"></i>Menu
        </a>
        <div class="right menu">
            <div class="ui pointing dropdown link item visible" ng-click="requestNote = true; notFirstLoadRequestNote = true" outside-click = "requestNote = false" ng-class="{'active': requestNote}" >
                <i class="user icon"></i>
            </div>
            <div class="ui flowing popup bottom right transition"
                ng-class="{'animating scale in visible': requestNote && notFirstLoadRequestNote, 'animating scale out visible': !requestNote && notFirstLoadRequestNote}"
                style="top:44px;left: auto; bottom: auto; right: 260px; display: block !important;" ng-if="notFirstLoadRequestNote">
                <div class="item" style="padding:0;">
                    <a class="ui header">{{requests.header}}</a>
                </div>
                <div class="ui relaxed list">
                    <a class="item" ng-repeat="request in requests.content">
                        <img class="ui avatar image" src="images/{{request.img}}">
                        <div class="content">
                            <div class="header">{{request.summary}}</div>
                            <div class="description">{{request.datetime}}</div>
                        </div>
                    </a>
                </div>
                <div class="item ss-right-floated" style="padding:0;">
                    <a class="ui header">
                        <div class="content">
                            <div class="sub header">
                                <span>More</span>
                                <i class="angle right icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ui pointing dropdown link item visible" ng-click="mailNote = true; notFirstLoadMailNote = true" outside-click="mailNote = false" ng-class="{'active': mailNote}">
                <i class="mail icon"></i>
            </div>
            <div class="ui flowing popup bottom right transition"
                ng-class="{'animating scale in visible': mailNote && notFirstLoadMailNote, 'animating scale out visible': !mailNote && notFirstLoadMailNote}"
                style="top:44px;left: auto; bottom: auto; right: 200px;" ng-if="notFirstLoadMailNote">
                <div class="item" style="padding:0;">
                    <a class="ui header">{{mailNotifications.header}}</a>
                </div>
                <div class="ui relaxed list">
                    <a class="item" ng-repeat="request in mailNotifications.content">
                        <img class="ui avatar image" src="images/{{request.img}}">
                        <div class="content">
                            <div class="header">{{request.summary}}</div>
                            <div class="description">{{request.datetime}}</div>
                        </div>
                    </a>
                </div>
                <div class="item ss-right-floated" style="padding:0;">
                    <a class="ui header">
                        <div class="content">
                            <div class="sub header">
                                <span>More</span>
                                <i class="angle right icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ui pointing dropdown link item" ng-click="notificationNote = true; notFirstLoadNotificationNote = true" outside-click="notificationNote = false"
                ng-class="{'active': notificationNote, 'visible': notificationNote}">
                <i class="alarm icon"></i>
            </div>
            <div class="ui flowing popup bottom right transition"
                ng-class="{'animating scale in visible': notificationNote && notFirstLoadNotificationNote,'animating scale out visible': !notificationNote && notFirstLoadNotificationNote}"
                style="top:44px;left: auto; bottom: auto; right: 150px;" ng-if="notFirstLoadNotificationNote">
                <div class="item" style="padding:0;">
                    <a class="ui header">{{notifications.header}}</a>
                </div>
                <div class="ui relaxed list">
                    <a class="item" ng-repeat="request in notifications.content">
                        <img class="ui avatar image" src="images/{{request.img}}">
                        <div class="content">
                            <div class="header">{{request.summary}}</div>
                            <div class="description">{{request.datetime}}</div>
                        </div>
                    </a>
                </div>
                <div class="item ss-right-floated" style="padding:0;">
                    <a class="ui header">
                        <div class="content">
                            <div class="sub header">
                                <span>More</span>
                                <i class="angle right icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ui dropdown link item" ng-click="userNote = true; notFirstLoadUserNote = true" outside-click="userNote = false"
                ng-class="{'active': userNote, 'visible': userNote}">
                <img class="ui avatar image" src="images/matthew.png">
                <span>{{user.name}}</span>
                <i class="angle down icon"></i>
            </div>
            <div class="ui flowing popup bottom right transition"
                ng-class="{'animating scale in visible': userNote && notFirstLoadUserNote,'animating scale out visible': !userNote && notFirstLoadUserNote}"
                style="top:44px;left: auto; bottom: auto; right: 16px;" ng-if="notFirstLoadUserNote">
                <div class="item" style="padding:8px;">
                    <h6 class="ui header" style="margin-bottom: 0;">
                        <i class="user icon"></i>
                        <div class="content">
                            <div class="sub header">Profile</div>
                        </div>
                    </h6>
                    <div class="ui teal right mini label" style="margin-left: 62px;">86%</div>
                </div>
                <div class="item" style="padding:8px;">
                    <h6 class="ui header" style="margin-bottom: 0;">
                        <i class="checkmark icon"></i>
                        <div class="content">
                            <div class="sub header">Tasks</div>
                        </div>
                    </h6>
                    <div class="ui red right mini label" style="margin-left: 68px;">new</div>
                </div>
                <div class="item" style="padding:8px;">
                    <h6 class="ui header" style="margin-bottom: 0;">
                        <i class="setting icon"></i>
                        <div class="content">
                            <div class="sub header">Setting</div>
                        </div>
                    </h6>
                </div>
                <div class="ui divider"></div>
                <div class="item" style="padding:8px;">
                    <h6 class="ui header" style="margin-bottom: 0;">
                        <i class="lock icon"></i>
                        <div class="content">
                            <div class="sub header">Setting</div>
                        </div>
                    </h6>
                </div>
                <div class="item" style="padding:8px;">
                    <h6 class="ui header" style="margin-bottom: 0;">
                        <i class="sign out icon"></i>
                        <div class="content">
                            <div class="sub header">Setting</div>
                        </div>
                    </h6>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="ss-main">
    <div class="ui bottom attached segment pushable" style="border: none;">
        <div class="ui primary inverted left inline vertical sidebar menu transition" ng-class="{'animating uncover visible': visible, 'animating uncover': !visible}">
            <div class="ui inverted vertical">
                <div class="item ss-pointer-hover">
                    <a class="ui logo icon image"  ui-sref="main.dashboard">
                        <img src="images/logo.png"></img>
                    </a>
                    <a ui-sref="main.dashboard"><b>Dashboard</b></a>
                </div>
                <div class="item" ng-repeat = "group in groups">
                    <div class="header ss-pointer-hover" ng-click="expandGroup(group)">
                        <i class="{{group.icon}}"></i>
                        {{group.text}}
                    </div>
                    <div class="menu" ng-repeat="menu in menus" ng-if="group.expand">
                        <a class="item" ui-sref="main.menu({action: menu.attributes.action, target: menu.attributes.hrefTarget})" ng-class="{'active': menu.active}">
                            {{menu.text}}
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="pusher" ng-class="{'animating uncover ss-content-padding-right': visible, 'animating uncover ss-content-padding-right-out': !visible}">
            <div class="ui basic segment">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
