
.ss-content-padding-right{
    //padding-right: $ss-nav-width;
    transition: transform .2s ease-in;
    &：hover{
        transform: translate3d(0px, 260px, 0px);
    }
}
.ss-content-padding-right-out{
    padding-right: 0;
}

.ss-top{
}
.ss-nav{
    position: absolute;
    top: 54px;
    left: 0;
    max-width: $ss-nav-width;
    bottom: 0;
}
.ss-main{
    position: absolute;
    top: 54px;
    right: 0;
    bottom: 0;
    left: 0;
    .logo.image{
        width: 35px;
        margin-right: 16px;
    }

}
.ss-left-side{
    left: 0;
}
