
.ss-content-padding-right{
    transition-property: padding-right;
    transition-duration: 2s;
    transition-delay: 0s;
    padding-right: $ss-nav-width;
    /*-moz-transition: padding-right 3s ease-in;
     -o-transition: padding-right  3s ease-in;
     -webkit-transition: padding-right 3s ease-in;
     transition: padding-right  3s ease-in;*/
}
.ss-content-padding-right-out{
    padding-right: 0;
    -moz-transition: padding-right 3s ease-out;
     -o-transition: padding-right  3s ease-out;
     -webkit-transition: padding-right 3s ease-out;
     transition: padding-right  3s ease-out;
}

.ss-top{
}
.ss-nav{
    position: absolute;
    top: 54px;
    left: 0;
    max-width: $ss-nav-width;
    bottom: 0;
}
.ss-main{
    position: absolute;
    top: 54px;
    right: 0;
    bottom: 0;
    left: 0;
    .logo.image{
        width: 35px;
        margin-right: 16px;
    }

}
.ss-left-side{
    left: 0;
}
