
.ss-signup-bottom{
    height: 48px;
    margin-top: 32px;
    background: #7F92A5;
    .ss-back{
        margin-top: 6px;
        margin-left: 8px;
    }
    .ss-submit{
        margin-right: 8px;
        float: right;
        margin-top: 6px;

    }
}
