.ss-user{
    width: 1210px;
    margin: 0 auto;
    height: 100%;
    .ss-user-header{
        margin-top: 16px;
    }
    .ss-user-content{
        margin-top: 8px;
        height: 100%;
        .ss-user-left{
            width: 220px;
            text-align: center;
            //border-right: solid 1px red;
            height: 100%;
            //background-color: #EEEEEE;
            background-color: #0a81cc;
            color: white;
            float: left;
            .ss-department-label{
                &:hover{
                    cursor: pointer;
                    color: red;
                }
            }
        }
        .ss-user-main-content{
            margin-left: 8px;
            float: left;
            height: 100%;
            width: 982px;
            .ss-user-main-content-filter{
                margin: 16px 0;
                text-align: right;
                .ss-user-main-content-filter-search{
                    display: inline-block;
                }
                .ss-user-main-content-filter-search-type{
                    display: inline-block;
                }
            }
            .ss-user-main-content-detail{

            }
        }
    }

    .font-size-12{
        font-size: 12px;
    }
}
