<div class="ss-login">
    <div class="ss-title">管理系统</div>
    <div class="ss-login-contents">
        <form name="formSignUp">
            <div class="ss-header">注册</div>

            <div class="ui negative message" ng-if="error" style="width: 96%; margin-left: 2%;">
                <div class="header" style = "display: inline-block">
                    Error:
                </div>
                <p style="display: inline-block">{{errorMsg}}</p>
            </div>

            <div class="ss-field">
                <input type="email" ng-model="email" placeholder="邮箱" ng-required="true"/>
            </div>
            <div class="ss-field">
                <input type="password" ng-model="password" placeholder="密码" ng-required="true"/>
            </div>
            <div class="ss-field">
                <select ng-model="type" class="ss-register-select" ng-init="type=0">
                    <option value="0">admin</option>
                    <option value="1">official</option>
                    <option value="2">public</option>
                    <option value="3">test</option>
                    <option value="4">anon</option>
                </select>
            </div>
        </form>
        <div class="ss-signup-bottom">
            <button class="orange ui button ss-back" ng-click="back()">返回</button>
            <button id="ss-register-submit-button" class="positive ui button ss-submit" ng-click="submit(email, password, type)" ng-disabled="formSignUp.$invalid">提交</button>
        </div>
    </div>

</div>
