<div class="ss-dashboard">
    <div class="ss-create-new-menu">
        <h1 class="ui center aligned green header">Create New Menu</h1>

        <form class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Show this menu</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Active this menu</label>
                </div>
            </div>
            <button class="fluid ui button" type="submit">Create New Menu</button>
        </form>

    </div>
</div>
