# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
bower_components/
output/
app/lib
css/
js/
npm-debug.log
menu%20api.json.postman_collection
