.ss-pagination{
    .ss-selected-page{
        background-color: #EEE;
    }
    .ss-page-box{
        display: inline-block;
        width: 24px;
        height: 24px;
        border: solid 1px gray;
        padding: 2px 2px;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: #0085C3;
        }
    }
    .ss-page-content{
        display: inline-block;
    }
}
