<div class="ss-management">
    <div class="ss-create-new-menu" ng-if="status == 0">
        <h1 class="ui center aligned green header">Create New Menu</h1>

        <form class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Show this menu</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Active this menu</label>
                </div>
            </div>
            <button class="fluid ui button" type="submit">Create New Menu</button>
        </form>
    </div>
    <div ng-if="status != 0">
        <div class="ui middle aligned divided selection list">
            <div class="item" ng-repeat="group in groups" style="padding: 16px 0; cursor: pointer;" ng-click="setGroupActive(group)">
                <img class="ui avatar image" src="images/elliot.jpg">
                <div class="content">
                    <div class="header">{{group.text}}</div>
                    <div class="description" style="margin-top: 8px;">{{group.attributes.description}}</div>
                </div>
                <ss-tab ng-if="group.active">
                    <ss-pane title="{{menu.text}}" ng-repeat="menu in menus">
                        <div>ppp</div>
                    </ss-pane>
                </ss-tab>
            </div>
        </div>
    </div>
</div>
