<div class="ui primary inverted top attached menu">
    <a class="item" ng-click="visible=!visible">
        <i class="sidebar icon"></i>Menu
    </a>
    <div class="right menu">
        <div class="ui pointing dropdown link item" ng-click="setNotePanelVisible(!requestNote, false, false)"
            ng-class="{'active': requestNote, 'visible': requestNote}">
            <i class="user icon"></i>
        </div>
        <div id="ssNotePannel" class="ui flowing popup bottom right transition" ng-class="{'visible': requestNote || mailNote || notificationNote}">
            <div class="item" style="padding:0;">
                <a class="ui header">{{pannelData.header}}</a>
            </div>
            <div class="ui relaxed list">
                <a class="item" ng-repeat="request in pannelData.content">
                    <img class="ui avatar image" src="./images/{{request.img}}">
                    <div class="content">
                        <div class="header">{{request.summary}}</div>
                        <div class="description">{{request.datetime}}</div>
                    </div>
                </a>
            </div>
            <div class="item ss-right-floated" style="padding:0;">
                <a class="ui header">
                    <div class="content">
                        <div class="sub header">
                            <span>More</span>
                            <i class="angle right icon"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ui pointing dropdown link item" ng-click="setNotePanelVisible(false, !mailNote, false)" ng-class="{'active': mailNote, 'visible': mailNote}">
            <i class="mail icon"></i>
        </div>
        <div class="ui pointing dropdown link item" ng-click="setNotePanelVisible(false, false, !notificationNote)"
            ng-class="{'active': notificationNote, 'visible': notificationNote}">
            <i class="alarm icon"></i>
        </div>
        <div class="item">
            <img class="ui avatar image" src="./images/matthew.png">
            <span>Matthew</span>
            <i class="angle down icon"></i>
        </div>
    </div>
</div>
<div class="ui bottom attached segment pushable">
    <div class="ui primary inverted left inline vertical sidebar menu uncover" ng-class="{'visible': visible}">
        <ss-header-menu></ss-header-menu>
    </div>
    <div class="pusher">
        <div class="ui basic segment">
            <div ng-if="item.name == 'home'">
                <div ng-if="subItem.name == 'summer'">{{item.name}} > {{subItem.name}}
                    <div>
                        <a ng-href="#/views/user" target="_blank">click here to link to summer's page</a>
                    </div>
                </div>
            </div>
            <div ng-if="item.name == 'home'">
                <div ng-if="subItem.name == 'sissy'">{{item.name}} > {{subItem.name}}</div>
            </div>
        </div>
    </div>
</div>
