<div>
    <table class="ui very basic table">
        <thead>
            <tr>
                <th ng-repeat="header in ssHeaders">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in ssDatas">
                <td ng-repeat="field in data">
                    <div ng-if="field.type=='text'">{{field.label}}</div>
                    <div ng-if="field.type=='icon'">
                        <i class="{{field.label}}"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <ss-pagination ss-total-page="25"></ss-pagination>
    </div>
</div>
