<div class="ss-user">
    <div class="ss-user-header">
        <ss-menu></ss-menu>
    </div>
    <div class="ss-user-content" ng-if="currentSection.url == '#deal'">
        <div class="ss-user-left">
            <!--img class="ss-user-image" src="./images/test_tree.png"></img-->
            <div class="ui two column left aligned padded grid">
                <div class="column ss-department-label" ng-click="locateToDepartment(department)" ng-repeat="department in departments">
                    <i class="white angle right icon"></i>
                    {{department.displayName}}
                </div>
            </div>
        </div>
        <div class="ss-user-main-content">
            <div class="ui breadcrumb">
                <a class="section font-size-12">{{currentSection.displayName}}</a>
                <i class="right angle icon divider"></i>
                <a class="section font-size-12" ng-if="!!!currentDepartment">所有部门</a>
                <a class="section font-size-12" ng-if="!!currentDepartment">{{currentDepartment.displayName}}</a>
            </div>
            <div class="ss-user-main-content-filter">
                <div class="ui right fluid action left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search...">
                    <select class="ui compact selection dropdown">
                        <option value="all">所有</option>
                        <option selected="" value="articles">审批事项编号</option>
                        <option value="products">审批事项名称</option>
                    </select>
                    <div type="submit" class="ui button">Search</div>
                </div>
            </div>
            <div class="ss-user-main-content-detail">
                <div class="ui pointing secondary menu">
                    <a class="item font-size-12" data-tab="{{tabData.name}}" ng-repeat="tabData in dealTabs"
                        ng-class="{'active':currentSelectedTab.name == tabData.name}" ng-click="selectTab(tabData)">{{tabData.displayName}}</a>
                </div>
                <div class="ui tab segment" data-tab="{{tabData.name}}" ng-repeat="tabData in dealTabs" ng-class="{'active':currentSelectedTab.name == tabData.name}">
                    <div class="all-deals" ng-if="tabData.name == 'all'">
                        <ss-basic-table ss-headers="basicTableHeaders" ss-datas="allDatas"></ss-basic-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
