.ss-top{
}
.ss-nav{
    position: absolute;
    top: 54px;
    left: 0;
    max-width: 260px;
    bottom: 0;
}
.ss-main{
    position: absolute;
    top: 54px;
    right: 0;
    height: 100%;
    bottom: 0;
    left: 0;
}
.ss-left-side{
    left: 0;
}
