.ss-user{
    width: 1210px;
    margin: 0 auto;
    height: 100%;
    .ss-user-header{
        margin: 16px 0;
    }
    .ss-user-content{
        .ss-user-left{
            width: 210px;
            text-align: center;
        }
    }
}
