<div class="ui inverted vertical">
    <div class="item" ng-click="locateToDashboard()">
        <div class="header">
            <i class="large teal dashboard icon"></i>Dashboard
        </div>
    </div>
    <div class="item" ng-repeat = "item in headers">
        <div class="header">
            <i class="{{item.icon}}"></i>
            {{item.displayName}}
        </div>
        <div class="menu" ng-repeat="subItem in item.children">
            <a class="item" ng-click = "locate(item, subItem)" ng-class="{'active': subItem.active}">
                {{subItem.displayName}}
            </a>
        </div>
    </div>
</div>
